.background {
    z-index: -1;
    position: fixed;
    top: -50vh;
    left: -50vw;
    bottom: -50vh;
    right: -50vw;
    object-fit: cover;
    background-image: url('../lofi-terrain/res/background-cont2-stars.jpg');
    animation: moveDown 100s infinite linear;
    animation-play-state: paused;
    background-size: contain;

    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
}

.background.moving {
    animation-play-state: running;
}

@keyframes moveDown {
    0% {
        background-position-y: 0vh;
    }

    100% {
        background-position-y: 100vh;
    }
}

canvas {
    z-index: 5;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0;
}