.setting-option {
    --size-choice: clamp(0.5rem, min(5.333vw, 5.333vh), 2rem);
    z-index: 100;
    display: block;
    position: relative;

    cursor: pointer;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    font-family: Gochi Hand;
    font-size: var(--size-choice);

    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 80px rgb(0, 116, 8), 0 0 30px FireBrick, 0 0 6px DarkRed;

    right: 0%;
    margin-right: calc(1.25*var(--size-choice));
    transition: 2s;

    height: var(--size-choice);

    color: rgba(255, 0, 0, 0.5);
}


.setting-option input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.setting-option.glow {
    color: darkred;
    opacity: 0.75;
    transition: 0.75s;
}

.box-outline {
    position: absolute;
    top: 0;
    right: calc(-1*var(--size-choice));
    /* transform: translateY(-50%); */
    height: calc(0.75*var(--size-choice));
    width: calc(0.75*var(--size-choice));
    border-radius: 5px;

    box-shadow: 0 0 20px darkred, 0 0 50px #0000ff, 0 0 55px DarkRed;
    border-color: darkred;
    border-width: 2px;
    border-style: solid;
    opacity: 0.75;
}

/* On mouse-over, add a grey background color */
.setting-option:hover .checkmark {
    color: darkred;
    opacity: 0.5;
}

.setting-option .checkmark {
    position: absolute;
    right: calc(-1*var(--size-choice));
    /* transform: translateY(-50%); */
    box-shadow: none;
    text-shadow: none;
    color: transparent;
    width: calc(0.75*var(--size-choice));
    height: calc(0.75*var(--size-choice));
}

.setting-option input:checked~.checkmark {
    /* background-color: #2196F3; */
    color: red;
    opacity: 0.85;
    text-shadow: inherit;
}

.setting-option.hide {
    z-index: -2;
    /* display: none; */
    opacity: 0;
    /* cursor: pointer !important; */
}