:root {
    --background-color: rgb(6, 11, 25);
    --border-color: rgb(25, 35, 65);
    font-size: 1rem;

    --font-size-450: 1.218rem;
    --font-size-500: 1.618rem;
    --font-size-600: 2.018rem;
    --font-size-700: 2.618rem;

    --quick-transition: 0.4s;
}

.about {
    background-color: var(--background-color);
    display: grid;
    grid-template-columns: 4fr 0.5fr;
    grid-template-rows: min-content 4fr 0.5fr;
    position: relative;
    transform: translateZ(20vmin);

    top: 0%;
    left: 0%;

    width: 50vw;

    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: white;

    border-radius: 10px;
    border-style: solid;
    box-shadow: 0 0 20px var(--border-color), 0 0 50px #0000ff, 0 0 55px DarkRed;
    border-color: var(--border-color);
}


.about.hide {
    display: none;
}

.about.show {
    animation: fade-in 1s linear;
}

.about.off-screen {
    animation: fade-out 1s linear forwards;
}

nav {
    display: flex;
    height: 100%;
    grid-row: 1/4;
    grid-column: 2/3;
}

nav>.nav-section {
    padding: 6rem 1.5rem;
    display: flex;
    box-sizing: border-box;

    writing-mode: vertical-lr;

    align-items: center;
    justify-content: center;

    font-size: var(--font-size-600);
}

#nav-buttons {
    gap: 3rem;
    display: flex;
}

#nav-buttons>div {
    text-decoration: none;
    color: white;
    cursor: pointer;
    opacity: 0.8;
}

#nav-buttons>div:hover {
    opacity: 1;
}


main {
    display: flex;
    flex-grow: 1;
    position: relative;
    align-items: center;
}

main>article {
    /* display: flex; */
    width: 100%;
    position: absolute;
    flex-direction: column;
    left: 0;

}

main>article>.article-section {
    height: 100%;
    /* box-sizing: border-box; */
    padding: 1rem 2rem;
    /* border-right: 1px solid var(--border-color); */
    /* gap: 2rem; */
    overflow: hidden;
}

#links {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 3rem;
    /* padding: 5px; */
    font-size: var(--font-size-600);
    padding-left: 10%;

    border-top: 1px solid var(--border-color);
}

#links>a {
    color: #fff;
    text-decoration: none;
    opacity: 0.8;
}

#links>a:hover {
    opacity: 1;
}

#article-title {
    font-weight: 700;
    font-size: var(--font-size-700);

    display: flex;
    align-items: center;
    padding-left: 10%;
    opacity: 0.85;
}

#back {
    font-size: var(--font-size-600);
    cursor: pointer;
    opacity: 0.8;
}

#back:hover {
    opacity: 1;
}

#article-body {
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    opacity: 0.8;
    font-size: var(--font-size-500);
}

main>article[data-status="inactive"] {
    transform: translateX(-500%);
}

.about>.grid-section {
    height: 100%;
    box-sizing: border-box;
    padding: 10px 10px;
    border-right: 1px solid var(--border-color);
    /* transition: var(--quick-transition); */
}

#info {
    z-index: 100;
    position: absolute;
    top: 25%;
    left: 25%;
    -webkit-perspective: 100vh;
    perspective: 100vh;
    animation: floating 7s ease-in-out infinite;
}